.hero(style="background-image: url('#{container.bannerComponent.bannerImage}')")
  .container
    .text(class="#{container.bannerComponent.bannerStyle}")
      .slogan =container.bannerComponent.mainTitle