.hero
  height: calc(100vh - #{$header-height})
  background-size: cover
  position: relative
  overflow: hidden
  .text
    position: absolute
    text-align: center
    padding: 0 30px
    width: 100%
    left: 0
    top: 50%
    color: #fff
    text-align: center
    transform: translateY(-50%)
    .slogan
      +medium(80,97)
