.hero
  height: calc(100vh - #{$header-height})

  position: relative
  .bg, .bg_mobile
    position: absolute
    z-index: 0
    left: 0
    top: 0
    bottom: 0
    right: 0
    background-size: cover

  .bg
    +tablet
      display: none
    +mobile
      display: none
  .bg_mobile
    display: none
    +tablet
      display: block
    +mobile
      display: block



  +tablet
    background-position: 100% 100%, 0 0
  +mobile
    background-position: 100% 100%, 0 0
  position: relative
  overflow: hidden
  .text
    position: absolute
    text-align: center
    padding: 0 30px
    width: 100%
    left: 0
    top: 50%
    color: #fff
    text-align: center
    transform: translateY(-50%)
    .slogan
      +medium(80,97)


    &[class*="left"]
      text-align: left
      width: 50%
    &[class*="centre"]
      width: 100%
    &[class*="right"]
      width: 50%
      left: initial
      right: 0


    &[class$="small"]
      .slogan
        +medium(36,45)
    &[class$="medium"]
      .slogan
        +medium(60,74)
    &[class$="large"]
      .slogan
        +medium(80,97)
